a {
	text-decoration: none;
	color: unset;
}

.card-link {
  width: 271.55px;
}

.country-w {
	display: flex;
	flex-direction: column;
	background: var(--white);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.089);
	cursor: pointer;
	transition: transform 0.3s;
}

.country-w:hover {
	transform: scale(1.05);
}

.country-w img {
	object-fit: cover;
	width: 271.55px;
	height: 188px;
}

.country-text {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.country-text h2 {
	margin-bottom: 0.5rem;
	font-weight: 800;
}
